extends layout 

block content 
  div.detail-page
    h1.section-title Category: #{category.name}
    h3 Description:
    p #{category.description}

    div.upper-detail-page
    
      h2.sub-title Items in category:

      dl 
        each item in category_items
          dt
            a(href=item.url) #{item.name}
            |   ($#{item.price})

        else 
          p This category has no items

    hr
    div.lower-detail-page
      p 
        a(href=category.url+'/delete') Delete Category
      p 
        a(href=category.url+'/update') Update Category